In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
score = Series( [3000, 6000, 7000, 10000, 13000], 
                index=['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05' ])
score

In [2]:
from datetime import datetime

In [6]:
ts_days_idx1 = pd.date_range('2019-11-25', periods=5)
ts_days_idx2 = pd.date_range('2019-11-27', periods=5)
ts_days_idx1

DatetimeIndex(['2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28',
               '2019-11-29'],
              dtype='datetime64[ns]', freq='D')

In [7]:
score1 = Series( [1000,2000,3000, 5000, 3000], 
              index = ts_days_idx1 )

score2 = Series( [1000,2000,500, 3000, 5000], 
              index = ts_days_idx2)

score1 + score2

2019-11-25       NaN
2019-11-26       NaN
2019-11-27    4000.0
2019-11-28    7000.0
2019-11-29    3500.0
2019-11-30       NaN
2019-12-01       NaN
Freq: D, dtype: float64

In [8]:
# pd.concat([Series1, Series2, ...]
dat = pd.concat([score1, score2], axis=1)
dat

                 0       1
2019-11-25  1000.0     NaN
2019-11-26  2000.0     NaN
2019-11-27  3000.0  1000.0
2019-11-28  5000.0  2000.0
2019-11-29  3000.0   500.0
2019-11-30     NaN  3000.0
2019-12-01     NaN  5000.0