In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')
conn

In [3]:
sql = """
 CREATE TABLE student
 ( 
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

In [4]:
sql = """
      INSERT INTO student VALUES
         ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [5]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

### 실습 2-3 table을 하나 만들고, 데이터를 넣고, 불러오기
 * 테이블 명 : student1
 * 컬럼 name(text), korean(정수), math, english
 * 데이터를 하나 넣고
 * 불러오기

In [6]:
conn = sqlite3.connect('student.db')
conn

In [7]:
sql = """
 CREATE TABLE student1
 ( 
 name text,
 korean integer,
 math integer,
 english integer
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student1")
c.execute(sql)
c.close()

In [8]:
sql = """
      INSERT INTO student1 VALUES
         ('토토', 90, 100, 80)
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [9]:
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)

# 하나의 데이터
print(c.fetchone())

('토토', 90, 100, 80)