In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('student.db')
conn

In [10]:
sql = """
 CREATE TABLE student
 ( 
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

### 여러개의 데이터를 넣고 조회해 보기

In [11]:
sql = """
INSERT INTO student VALUES
 (?, ?, ?, ?)
"""
c = conn.cursor()
c.execute(sql, ("학생2", 2, "안양", "female"))

## 여러개 데이터 넣기
data = [
    ('학생3', 3, '경기도', 'female'),
    ('학생4', 4, '춘천', 'female'),
    ('학생5', 5, '대구', 'male')   
]

c.executemany(sql, data)
c.close()
conn.commit()

In [12]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

# 하나의 데이터 확인
print( c.fetchone() )

('학생2', 2, '안양', 'female')

In [13]:
for s in c.fetchmany(2):
    print(s)

('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')

In [7]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

for s in c.fetchall():
    print(s)

('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')

### 실습 3-1 
 * student1안에 데이터를 7개 넣고, 
 * 첫번째 방법, fetchmany(10) 검색해 보기
 * 두번째 방법, fetchall() 검색해 보기