### 네이버 금융 정보 가져오기

In [64]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import re
import pandas as pd
import xlsxwriter

### 국내증시

In [68]:
from selenium import webdriver

driver = webdriver.Chrome('chromedriver_246')

In [69]:
url = "https://finance.naver.com/sise/"
driver.get(url)

In [70]:
soup = BeautifulSoup(driver.page_source, 'lxml')
soup.title

### 코스피, 코스닥, 코스피지수 가져오기

In [71]:
kospi = soup.find("span", id="KOSPI_now").text
kosdaq = soup.find("span", id="KOSPI_now").text
kospi_200 = soup.find("span", id="KPI200_now").text
print("코스피 지수 : {}".format(kospi))
print("코스닥 지수 : {}".format(kosdaq))
print("코스피200 지수 : {}".format(kospi_200))

코스피 지수 : 2,397.07
코스닥 지수 : 2,397.07
코스피200 지수 : 316.91

### 인기 검색 종목 10개 가져오기

In [92]:
pop_search = soup.find("ul", class_="lst_pop")
pop_search_li = pop_search.find_all("li")
pop_search_li[0]

<li><em>1.</em><a href="/item/main.nhn?code=293490" onclick="clickcr(this,'boa.list','293490','1',event)">카카오게임..</a><span class="up">62,400</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>

In [93]:
all_stock = []
all_stock_url = []
code_all_num = []
for one in pop_search_li:
    stock = one.find("a").text
    price = one.find("span").text
    all_stock.append(stock)             # 종목명
    all_stock_url.append(price)         # 가격
    
    code = one.find("a").attrs
    code_num = code['onclick']         
    code_all = re.split(",", code_num)   
    code_all_num.append(code_all[2])    # 종목 코드

print( all_stock )
print( all_stock_url )
print( code_all_num )

['카카오게임..', '삼성전자', '넷마블', '카카오', '초록뱀', '셀트리온', '두산중공업', '엑세스바이..', 'SK케미칼', '필로시스헬..']
['62,400', '59,600', '186,000', '389,500', '2,790', '299,500', '13,750', '30,950', '332,000', '8,500']
["'293490'", "'005930'", "'251270'", "'035720'", "'047820'", "'068270'", "'034020'", "'950130'", "'285130'", "'057880'"]

In [94]:
dat = {"종목":all_stock, "가격":all_stock_url, "종목명":code_all_num}
pop_stock = pd.DataFrame(dat)
pop_stock.to_excel("stock.xlsx", sheet_name="Top10", index=False)

### 주요 해외 지수

In [95]:
pop_search = soup.find("ul", class_="lst_major")
pop_search_li = pop_search.find_all("li")
pop_search_li[0]

<li><a href="/world/sise.nhn?symbol=DJI@DJI&amp;fdtc=0" onclick="clickcr(this,'wst.dow','','',event)">다우산업</a><span class="up">27,940.47</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>

In [96]:
all_stock = []
all_stock_price = []
code_all_num = []
for one in pop_search_li:
    stock = one.find("a").text
    price = one.find("span").text
    all_stock.append(stock)             # 종목명
    all_stock_price.append(price)         # 가격
    
print( all_stock )
print( all_stock_price )

['다우산업', ' 나스닥', ' 홍콩H', ' 상해종합', ' 니케이225']
['27,940.47', '11,141.56', '9,728.52', '3,254.63', '23,230.55']

In [97]:
dat = {"해외지수":all_stock, "지수":all_stock_price}
pop_stock = pd.DataFrame(dat)
pop_stock

      해외지수         지수
0     다우산업  27,940.47
1      나스닥  11,141.56
2      홍콩H   9,728.52
3     상해종합   3,254.63
4   니케이225  23,230.55

In [98]:
dat1 = pd.read_excel("stock.xlsx", sheet_name="Top10")

In [99]:
import openpyxl
workbook1 = openpyxl.load_workbook("stock.xlsx")
print(workbook1.sheetnames)

# 시트 삭제
Sheet1 = workbook1['Top10']
workbook1.remove(Sheet1)

['Top10']

In [100]:
writer = pd.ExcelWriter("stock.xlsx", engine='xlsxwriter')

dat1.to_excel(writer, sheet_name="Top10", index=False)
pop_stock.to_excel(writer, sheet_name="해외지수", index=False)

writer.save()  # 엑셀 파일 저장

### (실습) 
 * 코스닥, 코스피, 코스피200 지수 추가해 보기